@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root{
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
    --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* if we have to give background color to whole page, give the background color to the body */
/* we should give min-height to container , width to the card. if we give them to another among body , container , card there's a difference in the output. Understand why?  */

body{
    background-color: var(--Very-dark-blue-main-BG);
    font-family: 'Outfit', sans-serif;
    
}
p{
    font-size: 18px;
    font-weight: 300    ;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.card{
    padding: 25px;
    background-color: var(--Very-dark-blue-card-BG);
    border-radius: 15px;
    max-width: 350px;
    
    /* why is it not working */
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    
}

/* to reduce the size of the image to fit the card , first set the width of img to 100% and then give the width to the container */

.top-img{
    position: relative;
}

.cube{
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
}

/* Hovers indicate interactivity so they must be attached to something interactive like an anchor tag or button. */
.act:hover{
    opacity: 0.7;
}

.act:hover::after{
    width: 100%;
    height: 100%;

}

.overlay{
    position: absolute;
    top: 0;
    background-color: hsl(178, 100%, 50% , 60%);
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 15px;
}

.overlay img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.overlay:hover{
    opacity: 1;
}

.title{
    color: white;
    padding: 15px 0 0 0;
    
}

.item-number{
    cursor: pointer;
    /* color is not being inherited from the title */
    color: white;
}

.item-number:hover{
    opacity: 0.8;
}

.description{
    color: var(--Soft-blue);
    font-weight: 300;
    margin: 20px 0;
}

.details{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.eth{
    display: flex;
    color: var(--Cyan);
    
}

.eth img{
    margin-right: 10px;
}

.days-left{
    display: flex;
    color: var(--Soft-blue);
}

.days-left img{
    margin-right: 10px;
}

hr{
    border-color:var(--Very-dark-blue-line) ;
}


.footer{
    color: var(--Soft-blue);
    display: flex;
    align-items: center;
    margin: 15px 0 10px 0;

}

.footer img{
    width: 10%;
    border-radius: 50%;     
    /* border radius is 50% to make it to white circular border */
    border: 2px solid #FFF;
    margin-right: 15px;
}

.name{
    color: var(--Cyan);
    cursor: pointer;
}

.name:hover{
    opacity: 0.8;
}

a{
    text-decoration: none;
}

/* BOX SHADOW - ADD IT LATER! */
/* ADD IMAGE OVERLAY */